---
// Import the necessary dependencies

import SmokeBackground from '../../SmokeBackground.astro';
import HeroLogo from './HeroLogo.astro';
import LightsBackground from '@/components/LightsBackground.astro';

// Define props from Astro
const {
  title,
  subTitle,

} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
class="h-screen flex flex-col items-center justify-center bg-cover bg-center"
>
<!-- <SmokeBackground /> -->
<LightsBackground/>


<HeroLogo/>

  <div class="text-center animate-fade-in-up animate-delay-300">
    <h1
      class="animate-fade-in-up text-balance text-3xl font-bold tracking-tight dark:text-neutral-200 text-textDark sm:text-4xl lg:text-6xl lg:leading-tight"
    >
      <Fragment set:html={title} />
    </h1>
    {subTitle &&
    <p
      class="mt-3 text-pretty text-lg leading-relaxed dark:text-neutral-400 text-neutral-600  animate-fade-in-up animate-delay-500"
    >
      {subTitle}
    </p>
  }
  </div>
</section>