---

import Layout from "@/layouts/Layout.astro";
const pageTitle = "Estadísticas";

const response = await fetch("https://api.promiedos.com.ar/league/tables_and_fixtures/hc");
const data = await response.json();

const group = data?.tables_groups?.[2];
const rows = group?.tables?.[0]?.table?.rows ?? []; // asegura que sea array

// Ordenar por nombre del equipo (alfabéticamente, A-Z)
const sortedRows = [...rows].sort((a, b) =>
  a.entity.object.name.localeCompare(b.entity.object.name)
);
---

<Layout title={pageTitle}>

    <table class="text-white">
  <tr>
    <th>ID</th>
    <th>URL NAME</th>
    <th>NAME</th>
  </tr>

  {sortedRows.map((row) => (

  <tr>
    
    <td>{row.entity.object.id}</td>
    <td>{row.entity.object.url_name}</td>
    <td>{row.entity.object.name}</td>
  </tr>

  ))}
</table>

</Layout>

<style>
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }
</style>