---
import Layout from '../layouts/Layout.astro';

const pageTitle = "LBDTw Tv";
const title: string = `<span class="text-primary">LBDTw</span> Tv`;

const subTitle: string =
  `Disfruta de los mejores momentos de <span class="text-primary font-bold">Belgrano</span> en vivo y on demand. ¡Vive la pasión del fútbol cordobés al mejor estilo de <span class="text-primary font-bold">LBDTw</span>`
---



<Layout title={pageTitle}>
    <!--Page header-->
    <main class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"></main>
    <div class="mx-auto max-w-3xl text-center">
        <h1
            class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl mb-0"
        >
            <Fragment set:html={title} />
        </h1>
        <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
    >			
        <Fragment set:html={subTitle} />
    </p>
    </div>

    <div class="w-full flex justify-center p-8">
        <iframe src="https://player.twitch.tv/?channel=lbdtwok&parent=https://lbdtw.pages.dev/" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>

    </div>


    
    </main>
</Layout>