---
import Leaderboard from "@/components/Leaderboard.astro";
import Layout from "@/layouts/Layout.astro";

const pageTitle = "Estadísticas";
const title: string = `<span class="text-sky-500">Posiciones</span>`;


---

<Layout title={pageTitle}>

    <!--Page header-->
	<main class="mx-auto max-w-[85rem] space-y-8 px-4 mt-24 sm:px-6 lg:px-8 2xl:max-w-full">
    <div class="mx-auto max-w-3xl text-center">
        <h1
            class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl mb-0"
        >
            <Fragment set:html={title} />
        </h1>
    </div>
</main>

<section class="mx-auto max-w-[85rem] py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
    <Leaderboard/>
</section>

</Layout>
