---
import Icon from "../icons/Icon.astro";
---

<button id="mode_switcher" class="group w-12 h-12" title="Cambiar el color del tema">
	<span class="sr-only">Dark theme</span>
	<span class="dark:hidden inset-0 text-text-dark">
		<Icon icon="sun" size="24"/>
	</span>
	<span class="hidden dark:block inset-0">
		<Icon icon="moon-stars" size="24" />
	</span>

  </button>
  
  <script>
	const setDarkModeButton = () => {
	  const button = document.querySelector("#mode_switcher");
	  button.addEventListener('click', function(){
		document.documentElement.classList.toggle('dark');
  
		if ( document.documentElement.classList.contains('dark') ) {
		  localStorage.darkMode = 'true'
		} else {
		  localStorage.darkMode = 'false'
		}
	  });
	}
  
	setDarkModeButton();
	// Runs on view transitions navigation
	document.addEventListener('astro:after-swap', setDarkModeButton);
  </script>