---
import FooterSection from '@/components/sections/navbar&footer/FooterSection.astro';
// import Header from '../components/sections/navbar&footer/Header.astro';
import { ClientRouter } from 'astro:transitions';
import MobileMenu from '@/components/ui/buttons/MobileMenu.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>LBDTw - {title}</title>
		<ClientRouter/>

		<script is:inline>
			const setDarkMode = () => {
				if (localStorage.darkMode === 'true' || (!('darkMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
					document.documentElement.classList.add('dark')
					localStorage.darkMode = 'true';
				} else {
					document.documentElement.classList.remove('dark')
					localStorage.darkMode = 'false';
				}
			}
	
			setDarkMode();
			// Runs on view transitions navigation
			document.addEventListener('astro:after-swap', setDarkMode);
		</script>
	<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3FN59ZC3N5"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-3FN59ZC3N5');
		</script>
	</head>
	<body class="selection:bg-primary selection:text-neutral-200 bg-[var(--bg-web)]">
		<div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
			<!-- <Header /> -->
			<MobileMenu />
			<slot />
		</div>
		<FooterSection />
	</body>
</html>
<style is:global>
	:root {
	--color-primary	: #0598D1;
	--bg-color: #ffffff80;
	--color-textDark: #4b5563;
	--color-textLight: #525252;
	--background-color: #ffffffc5;
	--bg-web: #fafafa;
	}

  .dark {
    --bg-color: #00000028;
	--background-color: #00021479;
	--bg-web: #000214;
  }
</style>
