---
import Icon from '../icons/Icon.astro';
import { iconPaths } from '../icons/icons';

// Destructure the properties from Astro.props
const { url, name, icon, class: className, ...rest  } = Astro.props;


// Define TypeScript interface for the properties
interface Props {
  url: string;
  name: string;
  icon: keyof typeof iconPaths;
  class?: string;
}

---


<a
  id={url === "/" ? "home" : url.replace("/", "")}
  href={url}
  data-astro-prefetch
  class=`${className} flex items-center md:w-auto justify-center gap-2 md:px-4 md:py-2 hover:bg-primary/5 md:rounded-2xl border border-transparent hover:border-brand-gray/10 transition-all min-h-[50px] md:text-base px-5 py-4 text-xl duration-300 w-full text-textDark dark:text-white`
>
<div class:list={['md:hidden', className]}>
{ icon && <Icon icon={icon} />}
</div>
 <span class="hidden md:inline">{name} </span> 
</a>

<style>
  .current-page.active{
    @apply text-white md:text-primary font-bold bg-primary md:bg-transparent
  }

  .current-page.active span{
    @apply  inline
  }
</style>