---
import BrandLogo from '@components/BrandLogo.astro';
import navBarLinks from "@utils/navigation.ts";
import NavLink from '../../ui/links/NavLink.astro';
import ThemeToggle from '@/components/ui/buttons/ThemeToggle.astro';

const strings = navBarLinks;

const { pathname } = Astro.url
const normalizedPathName =
	pathname.length > 1 && pathname.endsWith("/") ? pathname.slice(0, -1) : pathname

const pages = strings.navBarLinks.map((page) => ({
	...page,
	active: page.active ?? normalizedPathName === page.url
}))

---

<header class="fixed md:sticky inset-x-0 bottom-4 md:top-4 z-50 flex w-full flex-wrap text-sm md:flex-nowrap md:justify-start">
    <nav
      class="relative mx-2 w-full rounded-[36px] border border-yellow-100/40 bg-yellow-50/60 px-4 py-3 backdrop-blur-md dark:border-neutral-700/40 dark:bg-neutral-800/80 dark:backdrop-blur-md md:flex md:items-center md:justify-between md:px-6 md:py-0 lg:px-8 xl:mx-auto"
      aria-label="Global"
    >
    <div class="flex items-center justify-between">
      <a class="hidden md:inline-block flex-none rounded-lg text-xl font-bold outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none" href="/" aria-label="Brand">
        <BrandLogo class="text-primary h-auto w-8 md:w-20" /> 
      </a>

    </div>
    <div
      id="navbar-collapse-with-animation"
      class="grow basis-full overflow-hidden transition-all duration-300 md:block"
    >
      <div
        class="px-4 flex justify-between gap-x-2 gap-y-4 md:mt-0 md:flex-row md:items-center md:justify-end md:gap-x-4 lg:gap-x-7 md:gap-y-0 md:ps-7"
      >
      {pages.map(link => (
        <NavLink
          url={link.url}
          name={link.name}
          icon="sun"
          class:list={[
							{ "current-page text-accent": link.active },
							{ "text-white": !link.active },
						]}
        />
      ))}

      </div>

    </div>
    <ThemeToggle/>
    </nav>
</header>

